*{
    margin: 0%;
    padding: 0%;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Gowun Batang", serif;
}
#logo{
    width: 150px;
    height: 150px;
}
#container{
    position: relative;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 80px;
    padding: 0px 20px;
    padding-right: 70px;
}
.list-items{
    display: inline;
    margin-left: 20px;
}
.links{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
/* pseudo class */

/* tagname:pseudoclass{
property:value */

.links:hover{
    color: red;
    text-decoration: underline;
}
.home-content{
    margin-left: 50px;
    margin-top: 100px;
}
span{
    color: lightskyblue;
    font-family: "Dancing Script", cursive;
}
#uname{
    font-size: 50px;
    font-family: "Dancing Script", cursive;
}
.mdt{
    font-weight: bolder;
    font-size: 15px;
}
.btn{
    background-color: skyblue;
    color: rgb(26, 25, 25);
    border: 2px black;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}
.home-images{
    position: absolute;
    width: 50%;
    height: 80%;
    bottom: 0;
    right: 40px;
    top: 40px;
}
.group{
    position: absolute;
    height: 400px;
    left: 0;
    bottom: 0;
    transition: left 2s,bottom 2s;
   
}
.home-images:hover #im1{
    bottom: 20px;
}
.home-images:hover #im2{
    left: -200px;
}
.ho:hover #no{
    left: -200px;
}
#about{
    margin: 15% 8% 0% 8%;
}
.second{
   
    text-align: center;
}
.main-head{
    font-family: "Dancing Script", cursive;
}
.sub-head{
    font-family: "Gowun Batang", serif;
    color: green;
}
.ro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ho>img{
   width: 400px;
   /* position: absolute; */
}
.to{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.information{
    margin: 0%;
}
span{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#skills{
    margin: 8% 8% 0% 8%;
}
.skl-hd{
    text-align: center;

}
.main-skl{
    font-family: "Dancing Script", cursive;
}
.sub-skl{
    font-family: "Gowun Batang", serif;
    color: green;
}
.skl-content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
#skl-img2{
    width: 350px;
    height: 350px;
}
.prg-html{
    width: 350px;
    
    position: relative;
    display: flex;
    justify-content: space-between;
}
.prg-black{
    background-color: black;
    height: 5px;
    width: 350px;
    border-radius: 15%;
    position: absolute;
    bottom: 0%;
    top: 30px;
}
.prg-brwn{
    background-color: rgb(159, 90, 90);
    height: 5px;
    width: 300px;
    border-radius: 15%;
}
.bar-head,.bar-percentage{
    font-size: 20px;
    font-weight: bold;
}
.prg-black1{
    background-color: black;
    height: 5px;
    width: 350px;
    border-radius: 15%;
    position: absolute;
    bottom: 0%;
    top: 30px;
}
.prg-brwn1{
    background-color: rgb(159, 90, 90);
    height: 5px;
    width: 275px;
    border-radius: 15%;
}.prg-black2{
    background-color: black;
    height: 5px;
    width: 350px;
    border-radius: 15%;
    position: absolute;
    bottom: 0%;
    top: 30px;
}
.prg-brwn2{
    background-color: rgb(159, 90, 90);
    height: 5px;
    width: 200px;
    border-radius: 15%;
}
.prg-black3{
    background-color: black;
    height: 5px;
    width: 350px;
    border-radius: 15%;
    position: absolute;
    bottom: 0%;
    top: 30px;
}
.prg-brwn3{
    background-color: rgb(159, 90, 90);
    height: 5px;
    width: 250px;
    border-radius: 15%;
}
.prg-css{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    
}
.prg-btstrp{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.prg-java{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.progress-bar{
    margin-top: 100px;
}
#contact{
    /* margin: 8% 8% 0% 8%; */
    background-image: linear-gradient(45deg, white,rgb(151, 151, 204),teal);

}
.my-cnt{
    text-align: center;

}
.hd-cnt{
    font-family: "Dancing Script", cursive;
}
.sub-cnt{
    font-family: "Gowun Batang", serif;
    color: green;
}
.cnt-icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    text-align: center;
    position: relative;
    gap: 5px;
    /* padding-top: -25px; */
   
}
.icon1{
    border-radius: 50%;
    background-color: rgb(209, 139, 9);
    height: 50px;
    width: 50px;
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* padding-top: 22px; */
   
}
.icon1:hover{
    background-image: linear-gradient(90deg,white,orange,black);
    animation: rotate 2s;
}
@keyframes rotate{
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}
#copyright{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgb(209, 139, 9);
    float: right;
    /* bottom: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
/* #arrow{
    bottom: 40px;
} */

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: skyblue;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
}